<div class="about">
  <h1><%= @user.name %>さんのフォロワーリスト</h1>
</div>

<div id="follower_list">
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  </ul>
</div>
