<div class="about">
  <h1>談話室とは</h1>
  <p>何でもいいので話したいテーマをあげてもらい（談話室を立てる）、それぞれの談話室でゆる〜く話しましょうという場所です。</p>
  <p>ただし、何でもいいとは言っても誹謗中傷はNGです。</p>
</div>
<!-- <div class="which-box">
  <div class="which">
    <h3>ログインしていない場合</h3>
    <p>・各談話室のトーク内容の閲覧</p>
  </div>
  <div class="which">
    <h3>ログインしている場合</h3>
    <p>・談話室を立てる</p>
    <p>・各談話室で会話できる</p>
    <p>・会話にいいね！できる</p>
  </div>
</div> -->
